* {
  background-color: rgb(230, 150, 193);
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

.title {
  color: rgb(241, 173, 210);
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
}

h1 {
  text-transform: uppercase;
  border: transparent;
  color: rgb(194, 43, 171);
  background-color: rgb(211, 125, 186);
}

p {
  background-color: rgb(211, 125, 186);
}

img {
  border: 5px solid white;
  height: 400px;
  width: 400px;
}

div {
  margin-top: 5%;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 100px;
  padding: 20px;
  background-color: rgb(211, 125, 186);
  border: 5px solid rgb(194, 43, 171);
  box-shadow: 5px;
  box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .5);
}
